<!DOCTYPE html>
<html>
	<head>
                <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
		<title><%= @title || 'LivePipe&trade; : User Interface Components for Prototype' %></title>
                <%= stylesheet_link_tag "screen.css", :cache => true %>
                <%= javascript_include_tag 'prototype', 'effects', 'controls', 'dragdrop', 'slider', 'resizable', 'livepipe', 'contextmenu', 'cookie', 'event_behavior', 'hotkey', 'pagination', 'progressbar', 'rating', 'scrollbar', 'selection', 'selectmultiple', 'tabs', 'textarea', 'window', 'syntax', 'showdown', :cache => true %>
		<%= yield :head %>
	</head>
	<body class="<%= params[:action] %>">
		<%= yield :body %>
		<div id="outer_container">
			<div id="container">
				<div id="header">
					<h2><a href="<%= index_url %>"><span>LivePipe&trade; : User Interface Components for Prototype</span></a></h2>
					<ul id="navigation">
						<li<% if params[:action] == 'index' %> class="active"<% end %>><%= link_to 'Home', index_url %></li>
						<li<% if params[:action] == 'core' %> class="active"<% end %>><%= link_to 'Core', core_url %></li>
						<li<% if ['controls','control'].include? params[:action] %> class="active"<% end %>><%= link_to 'Controls', controls_url %></li>
						<li<% if ['extras','extra'].include? params[:action] %> class="active"<% end %>><%= link_to 'Extras', extras_url %></li>
						<li<% if params[:action] == 'download' %> class="active"<% end %>><%= link_to 'Download &amp; Contribute', download_url %></li>
					</ul>
				</div>
				<div id="main">
					<div id="main_container">
						<a href="http://syntacticx.com/" id="syntacticx"><span>Created by Syntacticx</span></a>
						<%= yield %>
						<%= yield :subnav %>
						<%= sidebar = yield :sidebar; sidebar && sidebar != '' ? "<div id=\"sidebar\">#{sidebar}</div>" : "" %>
						<% if flash[:message] || flash[:spam] %>
							<p id="message"><%= flash[:message] || flash[:spam] %></p>
						<% end %>
					</div>
				</div>
				<div id="footer">
					<p>Created by <a href="http://syntacticx.com/">Ryan Johnson</a> &copy; 2008 <a href="http://personalgrid.com/">PersonalGrid Corporation</a></p>
				</div>
			</div>
		</div>
                <%= javascript_include_tag "http://www.google-analytics.com/urchin.js" %>
                <% javascript_tag do %>
                  _uacct = "UA-176241-1"; urchinTracker();
                <% end %>

	</body>
</html>
